<form th:action="@{/pass/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}"/>
    <div class="border border-secondary rounded p-3">
        <div align="centre">
            <h2>Reset Your Password</h2>
        </div>
        <div>
            <table border="2">
                <tr>
                    <td>New Password</td>
                    <td><p>
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="Enter your new password" required autofocus/>
                    </p></td>
                </tr>
                <tr>
                    <td>Reenter Password</td>
                    <td>
                        <p>
                            <input type="password" class="form-control" placeholder="Confirm your new password"
                                   required oninput="checkPasswordMatch(this);"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="text-center">
                            <input type="submit" value="Change Password" class="btn btn-primary"/>

                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>